<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A MadLib For You!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Hello weary traveller</h1>
    <p>
      When combined with Otero Upper, this trail is just crazy fast, flowy, amazingness. Tree down near @Model.Noun. Dirt was pretty good, not too @Model.Adjective yet, but the leaves on the trail are wet and very @Model.AdjectiveA, a few corners were like riding on @Model.NounA. A steep, punchy switchback filled climb follows a set of spines from Ridgecrest Conference Center in @Model.Location to the parking lot of Old Fort Picnic area. It is considered the "fast and flowy" section--quite a bit smoother overall than Butcher Ranch with a great downhill pitch.
    </p>
  </body>
</html>