<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A MadLib For You!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body style="color: white;">
    <div class="container" style="Background: linear-gradient(red, purple, blue)">
      <h1>Hello weary traveller</h1>
      <p>
        When combined with Otero Upper, this trail is just crazy fast, flowy, amazingness. Tree down near <span style="color: green;">@Model.Noun</span>. Dirt was pretty good, not too <span style="color: green;">@Model.Adjective</span> yet, but the leaves on the trail are wet and very <span style="color: green;">@Model.AdjectiveA</span>, a few corners were like riding on <span style="color: green;">@Model.NounA</span>. A steep, punchy switchback filled climb follows a set of spines from Ridgecrest Conference Center in <span style="color: green;">@Model.Location</span> to the parking lot of Old Fort Picnic area. It is considered the "fast and flowy" section--quite a bit smoother overall than Butcher Ranch with <span style="color: green;">@Model.Adverb</span>.

        <a href="/alternate-form">Click here another story!</a>.
      </p>
    </div>
  </body>
</html>