<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A MadLib For You!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body style="color: white;">
    <div class="container" style="Background: linear-gradient(pink, orange, yellow)">
      <h1>Hello weary traveller</h1>
      <p>
        You gotta <span style="color: green;">@Model.Verb</span> through it to see there ain't nothing to it. These kind of things only happen for the first time once. You ever roasted <span style="color: green;">@Model.Thing</span>? I would like to give you a backstage pass to my <span style="color: green;">@Model.Place</span>. The magic <span style="color: green;">@Model.Noun</span> is a mysterious spiritual force, and we're going to <span style="color: green;">@Model.PlaceA</span>, and that's the vortex of the heart. Listen to the silence. And when the silence is <span style="color: green;">@Model.IngVerb</span>, you're in the center of your own universe. Have you urinated? Have you <span style="color: green;">@Model.EdVerb</span> your bladder? Are you free? Because if you haven't it will only come out later. I'm giving you some information that your bodily fluids may <span style="color: green;">@Model.VerbA</span> your clothing fibre's without warning.
      </p>
    </div>
  </body>
</html>